<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vineet.infoshare" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.vineet.infoshare.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.vineet.bulletin.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.vineet.infoshare.Main"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.vineet.infoshare.Register"
            android:label="@string/title_activity_register" >
        </activity>

        <receiver
            android:name="com.vineet.infoshare.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.vineet.bulletin" />
            </intent-filter>
        </receiver>

        <service android:name="com.vineet.infoshare.GcmIntentService" />

        <activity
            android:name="com.vineet.infoshare.Categories"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.vineet.infoshare.ShowMessages"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/title_activity_show_messages"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.vineet.infoshare.Splash"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.vineet.infoshare.NetworkChange"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
